{% extends "ProtonQnABundle::layout.html.twig" %}

{% block title %}Question List{% endblock %}

{% from "ProtonCoreBundle::macros.html.twig" import time_formatter %}

{% block content %}
<h1>Questions</h1>
{% for question in questions %}
<div>
    <h2><a href="{{ path('proton_qna_questions_show', {"slug": question.slug}) }}">{{ question.title }}</a></h2>
    <p>{{ time_formatter(question.createdat, 'posted by ' ~ question.author.username) }}</p>
</div>
{% endfor %}
{% endblock %}