<form method="post" action="{{ path('proton_qna_answers_edit', {"id": answer.id}) }}">
    <div class="clearfix">
        {{ form_widget(form.content, {'attr': {'class': 'span10'}}) }}
    </div>
    {{ form_rest(form) }}
    <p><span class="label notice">Note</span> Content parsed with <a href="http://michelf.com/projects/php-markdown/">markdown</a>.</p>
    <input class="btn primary" type="submit" />
</form>