{% extends "ProtonQnABundle::layout.html.twig" %}
{% block content %}
<h1>Answer creation</h1>

<form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('answer') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}